@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-translate-x: -50%;
  --tw-translate-y: -50%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --tw-translate-x: -50%;
    --tw-translate-y: -50%;
  }
}

body {

}
